.section1{
    background-color: aqua;
    width: 50%;
    padding: 5px;
}
.section2{
    background-color:violet;
    width: 50%;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
}

.section3{
    background-color: yellow;
    width: 50%;
    padding: 5px;
}
body{
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction:row-reverse;
    flex-grow: 2;
   
    
}